doctype html
html(lang="en")
    head
        include partials/headers
    body.login
        .contenedor-formulario 
            h1= nombrePagina 
            p Agrega tu Email para restablecer tu Password

            if locals.flashMessage
                .alertas 
                    each categoria in Object.keys(locals.flashMessage)
                        each error in flashMessage[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
                form.caja-login(action="/restablecer", method="post") 
                    .campo 
                        label(for="email") E-Mail: 
                        input(type="email" name="email" placeholder="Ingrese Su Email" value= email)
                    .campo.enviar 
                        input.boton(type="submit", value="Restablecer Password")
                    .campo.acciones 
                        a(href="/login") Iniciar Sesion